.label {
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-align: left;
    white-space: inherit;
    word-break: break-word;
}

.input {
    width: 100%;
}